<settings>
<category label="BEM-VINDO">
<setting label="[COLOR lightblue]CANAIS:[/COLOR]" type="lsep"/>
<setting label="[B]LISTAGEM DE [COLOR gold]CANAIS[/COLOR] ALTERNATIVO[/B]" id="ch_layout" type="bool" default="false" />
<setting label="[COLOR lightblue]DOAÇÕES:[/COLOR]" type="lsep"/>
<setting label="[B][COLOR white]MERCADO PAGO: [COLOR gold]DOAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, donatemercadopago)"/>
<setting label="[B][COLOR white]PAYPAL: [COLOR gold]DOAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, donatepaypal)"/>
<setting label="[B][COLOR white]PICPAY: [COLOR gold]DOAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, donatepicpay)"/>
<setting label="[COLOR lightblue]INFORMAÇÕES:[/COLOR]" type="lsep"/>
<setting label="[B][COLOR white]DOWNLOADS - SITE - TELEGRAM: [COLOR gold]ACESSAR![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, siteoficial)"/>
<setting id="disable_canais_extra" type="bool" visible="false" default="false" />
</category>
<category label="CONTROLE DOS PAIS">
<setting label="[COLOR lightblue]CONTROLE DOS PAIS: SENHA PADRÃO [COLOR gold]0000[/COLOR][/COLOR]" type="lsep"/>
<setting label="[B]MOSTRAR CANAIS +18[/B]" id="canais_extra" type="bool" default="false" />
<setting label="[B]ALTERAR SENHA?[/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, SetPass)"/>
<setting label="[COLOR lightblue]DESATIVAR[/COLOR]" type="lsep"/>
<setting label="[B][COLOR white]NÃO TENHO INTERESSE, [COLOR gold]DESATIVAR ESTÁ OPÇÃO![/COLOR][/COLOR][/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, controledospais)"/>
</category>
<category label="FAVORITOS">
<setting label="[COLOR lightblue]FAVORITOS:[/COLOR]" type="lsep"/>
<setting label="[B]MOSTRAR FAVORITOS[/B]" id="favoritos" type="bool" default="false" />
<setting label="[B]LIMPAR FAVORITOS[/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, limparFavoritos)"/>
<setting label="Use Miniaturas como Fanart" id="use_thumb" visible="false" type="bool" default="false" />
</category>
<category label="FEATURES">
<setting label="[COLOR lightblue]FEATURES:[/COLOR]" type="lsep"/>
<setting label="[B]ATIVAR FEATURES[/B]" id="features_enable" type="bool" default="false" />
<setting label="[B]SENHA:[/B]" id="features_pass" type="text" default="" option="hidden" />
</category>
<category label="GUIA DE PROGRAMAÇÃO">
<setting label="[COLOR lightblue]EPG:[/COLOR]" type="lsep"/>
<setting label="[B]ATIVAR EPG[/B]" type="bool" id="epg" default="false"/>
<setting label="[B]LIMPAR GUIA DE PROGRAMAÇÃO[/B]" type="action" action="RunScript(plugin.video.BrazucaPlay.Matrix, removerEPG)"/>
<setting label="Baixar EPG a cada" id="epg_days" type="enum" values="1 dia|2 dias|3 dias|4 dias|5 dias|6 dias|7 dias" visible="false" default="2" />
<setting label="Última atualização" id="epg_last" type="text" visible="true" enable="false" default=""/>
<setting label="[COLOR gold][B]PODE DEMORAR PRA CARREGAR DEPENDENDO DO DISPOSITIVO[/B][/COLOR]" type="bool"/>
</category>
<category label="PLAYER">
<setting label="[COLOR lightblue]PLAYER:[/COLOR]" type="lsep"/>
<setting label="[B]PLAYER:[/B]" id="player_opt" type="enum" values="[B][COLOR gold]KODI[/COLOR][/B]|[B][COLOR gold]MX PLAYER[/COLOR][/B]|[B][COLOR gold]WEB VIDEO CASTER[/COLOR][/B]" visible="true" default="0" />
<setting label="[B]USAR [COLOR gold]F4MTESTER[/COLOR][/B]" id="player_f4m" type="bool" default="false" />
<setting label="[B]USAR [COLOR gold]FFMPEG[/COLOR] PADRÃO DO KODI[/B]" id="ffmpeg_opt" type="bool" default="false" />
<setting label="[B]DESATIVAR [COLOR gold]REPETIÇÃO[/COLOR] AUTOMÁTICA[/B]" id="repeat_opt" type="bool" default="false" />
<setting label="[COLOR gold][B]DEPOIS DE ESCOLHER O PLAYER E REINICIE O KODI[/B][/COLOR]" type="bool"/>
<setting label="[B]USAR DOWNLOAD COMO LINK PRINCIPAL[/B]" id="redecanais_opt" type="bool" visible="false" default="false" />
</category>
</settings>